<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placement Page</title>
    <link rel="stylesheet" href="/css/nav.css">
</head>
<body>
    <header>
        <nav>
          <ul>
            <div class="right">
              <img src="/images/logo2.png" alt="" />
            </div>
            <div class="left">
              <li><a href="/">Home</a></li>
              <!-- <li><a href="./placement">Placement</a></li> -->
              <li><a href="./logout">LogOut</a></li>
            </div>
          </ul>
        </nav>
      </header>
</body>
</html>